<h5>Hi <%= @user.to_s %>,</h5><br>

<p> Thanks for signing up with Chafity. We're delighted to welcome you to our platform.</p>
<p> Chafity was founded to serve as a platform which helps charities by connecting people for little fees. </p>
<p> 95% of the connection fees collected go to the selected charities, the remaining 5% is used to keep this platform running. </p>
<p> If you do have any questions, do not hesitate to send us a message at support@chafity.com </p>

<br><br>
<p>Cheers,</p>
<p>The Chafity Team </p>
