<div class="col-md-8">
  <div class="row">
    <h1> <strong>How does it work?</strong></h1> <br>
    <p>Chafity is a place, where people from both buisness and sales actually make a difference in the world!.<br>
      Every call can save somebody's life or bring education to children.
      <br>
      <br>
      We care ...   We belive ...   We want ...</p>
  </div>
  <div class="row top-boxes">
    <div class="col-md-4 top-boxes-x">
          <span>
            <%= image_tag("create_user.png", size: "74x66") %>
          </span>
      <div class="row">
        <h2>1.Create</h2>
        <p>Create and account and decide the amount you want to be donated to charity by the person who wants to call you</p>
      </div>
    </div>
    <div class="col-md-4 top-boxes-x">
          <span>
          <%= image_tag("search.png", size: "57x57") %>
          </span>
      <div class="row">
        <h2>2.Search and be searcable</h2>
        <p>Look for people or let people look you up. Agree on a time for calls. Your contact numbers will stay private.</p>
      </div>
    </div>
    <div class="col-md-4 top-boxes-x">
            <span>
              <%= image_tag("connect.png", size: "118x67") %>
            </span>
      <div class="row">
        <h2> 3. Call</h2>
        <p>Communicate on a fixed time. After the call a donation is transferred from the caller to the designated charity.</p>
      </div>
    </div>
  </div>
</div>