<div id="landing-body">
  <div class="row">
    <div class="col-md-8" id="landing-body-left">
      <div class="row ">
        <h2>
          How does it work?
        </h2>
        <p>
          Chafity is a place where people from buisness and sales can change the world...
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 landing-box">
          <%= render 'home/box1' %>
        </div>
        <div class="col-md-4 landing-box">
          <%= render 'home/box2' %>
        </div>
        <div class="col-md-4 landing-box">
          <%= render 'home/box3' %>
        </div>
      </div>
    </div>

    <div class="col-md-4" id=" landing-body-right">
      <div class="row">
        <h2>
          Join us and help the ones in need with every call!
        </h2>
      </div>
      <div class="row login-section" >
        Login
      </div>
    </div>
  </div>
</div>