<div id="landing-body">
  <div class="row">
    <div class="col-md-8" id="landing-body-left">
      <div class="row ">
        <h2>
          Kuidas tootab:
        </h2>
        <p>
          Chafity on Koht, kus ari ja muugiinimesed tegelikult muudavad maailma...
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 landing-box">
          One
        </div>
        <div class="col-md-4 landing-box">
          two
        </div>
        <div class="col-md-4 landing-box">
          three
        </div>
      </div>
    </div>

    <div class="col-md-4" id=" landing-body-right">
      <div class="row">
        <h2>
          Liitu meiega ja toeta iga Konedega abvajajaid!
        </h2>
      </div>
      <div class="row login-section" >
        bottom
      </div>
    </div>
  </div>
</div>