<div class="landing-box">
  <div class="row">
    <%= image_tag("create_user.png") %>
  </div>
  <div class="row">
    <h3>1. Create</h3>
    <p>Create an account and decide what amount will people donate to charity to connect with you.</p>
  </div>
</div>