<div class="landing-box">
  <div class="row">
    <%= image_tag("search.png") %>
  </div>
  <div class="row">
    <h3>1. Search and be searchable</h3>
    <p>Search yourself or be found by others. Decide calltimes. Phone numbers will stay private.</p>
  </div>
</div>