<div class="landing-box">
  <div class="row">
    <%= image_tag("connect.png") %>
  </div>
  <div class="row">
    <h3>3. Donate</h3>
    <p>Chat for a while. After the call the money is transferred to the chosen charity!</p>
  </div>
</div>