<div class="container">
<div class="container" id="landing-footer">
<div class="row" id="landing-footer-top">
  <h2>Title</h2>
  <p>Esindad</p>
</div>
  <div class="row" id="landing-footer-bottom">

  </div>
</div>
</div>