<div class="container" id="landing-footer">
  <div class="row" id="landing-footer-top">
    <h2>Collected donations:</h2>
    <p>Do you represent and organization for charity?</p>
  </div>
  <div class="row" id="landing-footer-bottom">
    <div class="col-md-3">
      <div class="charity-logo" id="charity-logo">
        <%= image_tag("unicef.png", size:"", alt: "Unicef logo") %>
      </div>
      <div class="charity-money" id="charity-logo">
        <h2>$1378</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="charity-logo" id="charity-logo">
        <%= image_tag("moma.png", size: "", alt: "moma logo") %>
      </div>
      <div class="charity-money" id="charity-logo">
        <h2>$568</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="charity-logo" id="charity-logo">
        <%= image_tag("wwf.png", size: "", alt: "wwf logo") %>
      </div>
      <div class="charity-money" id="charity-logo">
        <h2>$10567</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="charity-logo" id="charity-logo">
        <%= image_tag("human.png", size: "", alt: "moma logo") %>
      </div>
      <div class="charity-money" id="charity-logo">
        <h2>$210954</h2>
      </div>
    </div>
  </div>
</div>
