<!--<div class="row" id="landing-page-footer">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-4">-->
      <!--<h2 class="latest-donations">Collected donations</h2>-->
      <!--<p>Do you represent a charity?</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="bottom-boxes">-->
      <!--<div class="col-md-3">-->
        <!--<div class="row">-->
          <!--<%= image_tag("unicef.png", size:"92x92") %>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<h2>1378</h2>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<div class="row">-->
          <!--<%= image_tag("moma.png", size:"92x92") %>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<h2>568</h2>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<div class="row">-->
          <!--<%= image_tag("wwf.png", size:"92x92") %>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<h2>10567</h2>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<div class="row">-->
          <!--<%= image_tag("human.png", size:"92x92") %>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<h2>210945$</h2>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->