<div class="landing-body-right">
  <div class="btn-group-vertical">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Register
    <% end %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Login
    <% end %>
  </div>
</div>