<!-- Page Content -->
<%= render 'landing_page_header' %>
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About Us
        <small>So people can get something cool out of donations!</small>
      </h1>
      <p>We like to help the ones who are less fortunate than others but how to motivate your Average Joe to also donate and help others?
      We came up with Chafity, a site where te common man can connect with entrepreneurs in the world. The ordinary folk and buisnessmen would have a small
        chat with these innovative people, but the common man would not pay the buisnessman for the interview but the money would go to
        charities so it could benefit the ones in need.
        but there is a problem - what would the entrepreneur get out of this little conversation</p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="row">
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-center" src="http://placehold.it/200x200" alt="">
      <h3>Kevin Kanarbik
      </h3>
      <p>I do stuff and I'm cool</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-center" src="http://placehold.it/200x200" alt="">
      <h3>Fortunat Mutunda
      </h3>
      <p>I do stuff and I'm cool</p>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-center" src="http://placehold.it/200x200" alt="">
      <h3>Kristjan Põllusaar
      </h3>
      <p>I do stuff and I'm cool</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-center" src="http://placehold.it/200x200" alt="">
      <h3>Stephen Kenigbolo
      </h3>
      <p>I do stuff and I'm cool</p>
    </div>
    </div>
  </div>

  <hr>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


