@import "bootstrap-sprockets";
@import "bootstrap";

$chafity-font: Dosis;
$chafity-orange: #e4b363;
$chafity-darkgray: rgba(58, 74, 81, 0.95);
$chafity-gray: #e4e8eb;
$chafity-darkergray:#3a4a51;


#landing-header{
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 5% 0 2.5% 0;

  h1{
    font-family: $chafity-font;
    color:$chafity-darkgray;
    font-size: 80px;
  }

  p{
    color: $chafity-orange;
    font-size: 30px;
    font-family: 'OpenSans' , 'Open Sans';
    font-weight: lighter;

  }
}

#landing-body{
  height: 50%;
  background-color:$chafity-darkgray;
  color:$chafity-gray;
  letter-spacing:0px;
  text-align:left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;

  h2{
    font-family:$chafity-font;
    font-size:36px;
    color:$chafity-gray;
    letter-spacing:0px;
    text-align:left;
    font-weight: bold;
  }

  p{
    font-family: 'OpenSans' , 'Open Sans';
    font-size:13px;
    color:$chafity-gray;
    letter-spacing:0px;
    text-align:left;
    font-weight: lighter;
  }

  #landing-body-left{

    .landing-box{

    }
  }

  #landing-body-right{

    .login-section{

    }

  }
}

#landing-footer{
  text-align: center;
  padding-top: 3%;
  font-family: $chafity-font;

  #landing-footer-top{
    h2{

      color: $chafity-orange;
    }

    p{
      font-size: 18.0px;
      font-weight: normal;
    }
  }

  #landing-footer-bottom{
    padding-top: 3%;

    h2{
      color: $chafity-orange;
      letter-spacing: 0px;
      font-size: 50px;
    }
  }

}