@import "bootstrap-sprockets";
@import "bootstrap";


#landing-header{
  height:180px;
  text-align: center;

  h1{
    font-family:Dosis;
    font-size:36px;
    color:#e4b363;
    letter-spacing:0px;
    font-weight: bold;
  }
}

#landing-body{
  height: 520px;
  background-color: rgba(58,74,81,0.95);
  color:#e4e8eb;
  letter-spacing:0px;
  text-align:left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;

  h1{
    color:#e4b363;
    font-family: Dosis;
    font-size: 48px;
  }
  h2{
    font-family:Dosis;
    font-size:36px;
    color:#e4e8eb;
    letter-spacing:0px;
    text-align:left;
    font-weight: bold;
  }

  p{
    font-family: OpenSans , 'Open Sans';
    font-size:13px;
    color:#e4e8eb;
    letter-spacing:0px;
    text-align:center;
    font-weight: lighter;
  }

  #landing-body-left{


    .landing-box{
      background-color:#3a4a51;
      border-radius:9px;
      width:30%;
      height:30%;
      margin-left: 3px;
      margin-right: 3px;
      text-align: center;
      font-family: 'Dosis';
      font-size:18px;
      color:#e4b363;
      letter-spacing:0px;
      align-items: center;
    }
  }

  #landing-body-right{

    .login-section{

    }

  }



}