@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import 'font-awesome';

$chafity-font: Dosis;
$chafity-orange: #e4b363;
$chafity-darkgray: rgba(58, 74, 81, 0.95);
$chafity-gray: #e4e8eb;
$chafity-darkergray: #3a4a51;
$chafity-buttons-gray: #6b7c83;
$light-gray: #777;
$gray-medium-light: #eaeaea;

#landing-page-header{
  text-align: center;
  h3{
    font-family: $chafity-font,sans-serif;
    color: $chafity-orange;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: -1px;
  }
  #logo{
    height: 74.25px;
    width: auto;
    opacity: .80;
  }
}


#landing-page-body{
  background-color: $chafity-darkgray;
  padding: 2% 3% 2% 3%;
  //padding-bottom: 30px;
  color: white;
  text-align: left;

  h1{
    padding-left: 30px;
    font-family: $chafity-font,sans-serif;
    font-size: 36px;
  }

  .top-boxes{
    text-align: center;

    h2{
      font-family:$chafity-font;
      font-size:18px;
      color:$chafity-orange;
      letter-spacing:0px;
    }
    .top-boxes-x{
      border-radius: 9px;
      background-color: $chafity-darkergray;
      width: 249px;
      height: 233px;
      overflow: hidden;
      margin-right: 10px;
      margin-left: 10px;
      padding-top: 5px;
    }

    p{
      padding-top: -5px;
      font-size: 12px;
    }
  }
}


.landing-btn{
  background-color: $chafity-buttons-gray ;
  width: 200px;
  margin: 15px 0 15px 0;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.landing-btn:visited{
  color: white;
}

.landing-btn:hover{
  background-color: $chafity-darkergray;
  color: $chafity-orange;
}
.landing-btns{
  text-align: center;
}
/* landing page footer */
#landing-page-footer {
  text-align: center;
  font-family: $chafity-font;

  .latest-donations{
    color: $chafity-orange;
    font-size: 30px;
  }

  p{
    font-size: 18px;
  }
}


.bottom-boxes {
  padding-top: 61px;
  text-align: center;
  color: $chafity-orange;
  letter-spacing: 0px;
  font-family: $chafity-font;
  font-weight: bold;

  h2{
    font-size: 40px;
    text-align: center;
  }
}
/* navigation */
#main-nav{
  border-bottom: thin solid black;
  overflow: hidden;
  padding-top: 5px ;
  padding-bottom: 5px;
  ul{
    float: right;
    list-style: none;
    text-decoration: none;
    li{
      float: left;
      margin-left: 15px;
      text-decoration: none;
      a{
        text-decoration: none;
      }
    }
  }

}

/*application */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $chafity-orange;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
    margin-right: 15px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.user-profile{
  margin-top: -10px;
  padding-top: -5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  overflow: auto;
  font-family: $chafity-font;

  .profile-image{
    margin-top: 21px;
    border-radius: 50%;
  }

  .user-details{
    float: left;
    text-align: left;
  }

  .user-price{
    float: right;
    text-align: center;
  }

  .money{
    font-size: 50px;
    color: $chafity-orange;
    font-family: $chafity-font;
  }

  .profile-texts{
    padding-top: 2px;
    text-align: left;
    padding-right: -1px;
    margin-right: -1px;
    text-align: left;
    overflow: hidden;
    float: left;
    h3{
      font-size: 18px;
    }
  }
}


.search-image{
  border-radius: 50%;
}

.search-box{
  background-color: #c6cdd1;
}
