<footer class="footer">
  <nav>
  <ul>
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Youtube</li>
    <li>Email</li>
    <li>LinkedIn</li>
  </ul>
  </nav>
<small>
  <ul>
    <li>Support</li>
    <li>Contact</li>
    <li>Blog</li>
    <li>Legal & Privacy</li>
  </ul>
</small>
</footer>